.houses-select {
  display: flex;
  flex-direction: column;
}

.add-house-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.add-house-block__button-text {
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
}

.add-house-block__confirm-button {
  justify-self: center;
  margin-left: 10px;
}

.main-house-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  border: black solid 1px;
}

.main-house-block__text {
  color: #3c3c3c;
  font-size: 18px;
  align-self: center;
}

.main-house-block__input {
  display: flex;
}

.main-house-block__add-button {
  align-self: center;
}

.main-house-block__input {
  margin: 20px;
}

.main-house-block__room-block {
  background-color: red;
}
