.allocation-page__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1140px;
  padding: 180px 48px 0;
}

.allocation-wrapper__header {
  font: 60px/1.5 'open-500', sans-serif;
  color: #004990;
  padding: 0 0 50px;
}
