.hidden {
  display: none;
}

.login-page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1140px;
  padding: 100px 48px 0;
}

.login-wrapper {
  flex-basis: 58%;
  padding: 0 75px 74px 0;
  border-right: 1px solid #dee2e6;
  border-bottom: none;
  position: relative;
}

.register-wrapper__form {
  flex-basis: 58%;
  padding: 0 0 74px 75px;
  border-bottom: none;
  position: relative;
}

.login-wrapper__header,
.register-wrapper__header {
  font: 60px/1.5 'open-500', sans-serif;
  color: #004990;
  padding: 0 0 50px;
}

.register-wrapper__subheader {
  margin: 40px 0 20px;
  color: #d93d00;
  font-size: 16px;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.input-wrapper__label {
  margin-bottom: 5.5px;
  position: relative;
  display: inline-block;
  padding: 4px 11px 0 0;
  font: 12px 'Arial';
  color: #3c3c3c;
  width: 100%;
}

.label__asterisk {
  color: #d93d00;
  margin: 0 2px;
}

.input-wrapper__input {
  display: block;
  width: 100%;
  min-width: 160px;
  height: 43px;
  color: #3c3c3c;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  padding: 0 16px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-wrapper__input:focus {
  outline: none;
  border: 1px solid #de3e00;
}

.form__forgot-password {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  color: #d93d00;
  text-decoration: none;
  margin-bottom: 10px;
}

.form__button-wrapper {
  margin-top: 15px;
  max-width: 310px;
}

.form__button {
  font: 18px 'ITCAvantGardeStdMd', Helvetica, sans-serif;
  background: #004990;
  width: 100%;
  min-height: 50px;
  display: inline-block;
  text-align: center;
  border: 2px solid;
  border-color: transparent;
  border-radius: 36px;
  outline: none;
  cursor: pointer;
  transition: -webkit-filter 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.form__button.link {
  line-height: 50px;
}

.register-wrapper {
  flex-basis: 42%;
  padding: 0 0 50px 74px;
  min-width: 350px;
  position: relative;
}

.register-wrapper__list {
  list-style: none;
}

.list__text {
  margin-bottom: 12px;
  font-size: 18px;
}

.register-wrapper__list li {
  margin-bottom: 12px;
  font-size: 18px;
}

.m-hidden.errorBox {
  display: block;
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-hidden {
  display: none;
}
