.footer-section * {
  font-family: 'open-500';
  font-size: 15px;
}
.footer-section {
  background: #1e4d73;
  position: relative;
}
.copyright-area {
  background: #1e4d73;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}
.copyright-text p a {
  color: #ff5e14;
  text-decoration: none;
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}
@media (min-width: 1200px) {
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.text-center {
  text-align: center !important;
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}

.text-right {
  text-align: right !important;
}
.d-none {
  display: none !important;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.col-lg-6,
.col-xl-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  border: none !important;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}
.footer-menu li a.active {
  opacity: 1;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
