* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faq-page-wrapper {
  max-width: 1140px;
  padding: 64px 0 64px 0;
  margin: 0 auto;
}

.faq-accordition {
  padding: 0;
}

.heroContent {
  margin: 0 auto;
  padding: 0;
}
.heroContent > .faq-intro {
  padding: 64px 0 48px;
}
