@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.register-page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1140px;
  padding: 50px 48px 0;
}

.regsiter-wrapper {
  flex-basis: 58%;
  padding: 0 49px 74px 0;
  border-bottom: none;
  position: relative;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.line {
  display: inline-block;
}

.register-wrapper__header {
  font: 60px/1.5 'open-500', sans-serif;
  color: #004990;
  padding: 25px 0 50px;
}

.errmsg {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  text-align: center;
  padding: 20px 20px;
}

.input-wrapper__label {
  margin-bottom: 5.5px;
  position: relative;
  display: inline-block;
  padding: 4px 11px 0 0;
  font: 12px 'Arial';
  color: #3c3c3c;
  width: 100%;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.input-wrapper__input {
  display: block;
  width: 100%;
  min-width: 160px;
  height: 43px;
  color: #3c3c3c;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  padding: 0 16px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-wrapper__input:focus {
  outline: none;
  border: 1px solid #de3e00;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.form__button-wrapper {
  margin: 15px 0 15px;
  max-width: 310px;
}

.form__button {
  font: 18px 'ITCAvantGardeStdMd', Helvetica, sans-serif;
  background: #004990;
  width: 100%;
  min-height: 50px;
  display: inline-block;
  text-align: center;
  border: 2px solid;
  border-color: transparent;
  border-radius: 36px;
  outline: none;
  cursor: pointer;
  transition: -webkit-filter 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.form__button.link {
  line-height: 50px;
}

.link__sign,
.link__sign:focus,
.link__sign:hover,
.link__sign:visited,
.link__sign:link,
.link__sign:active {
  text-decoration: none;
  color: #004990;
}

.label__asterisk {
  color: #d93d00;
  margin: 0 2px;
}
